#renderer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  overflow: hidden;
}
body {
  margin: 0;
}
#overlay {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#overlay #titles {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 90%;
}
#overlay #scrollDown {
  font-size: 1.5rem;
  width: 35px;
  height: 35px;
  margin: 1.5em auto 0;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  transition: transform .25s ease;
}
#overlay #scrollDown:hover {
  transform: scale(1.10);
}
#overlay h1, #overlay h2 {
  color: #fff;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  user-select: none;
  cursor: default;
}
#overlay h1 {
  font-size: 3em;
  margin-bottom: .3em;
}
#overlay h2 {
  font-size: 1.5em;
  margin-top: 0;
}
#soundcloud {
  width: 100%;
  background-color: #fff;
}
#soundcloud h3 {
  font-size: 1.5em;
  margin: 1em;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  user-select: none;
  cursor: default;
  color: #000;
}